scikit-learn~=0.24.2
importlib-metadata==3.10.1
konoha==4.6.5
torch~=1.7.1
torchvision~=0.8.2
pytorch-transformers~=1.1.0
pytorch-pretrained-bert~=0.6.2
sentencepiece==0.1.95
pandas
scipy
numpy~=1.19.5
requests~=2.26.0
six~=1.15.0
setuptools>=49.6.0
flair~=0.8.0.post1
tqdm~=4.49.0
datasets~=1.8.0
configparser~=5.0.2
dill~=0.3.4
matplotlib~=3.3.4
sentence-transformers~=2.0.0
tokenizers~=0.10.3
transformers~=4.8.2
datawrangler>=0.1.0
Pillow
